#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

.parent{
  overflow-x: hidden;
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
}

button{
  margin: 1rem;
}